In [0]:
import pyspark
from pyspark.sql import SparkSession
# Create SparkSession 
spark = SparkSession.builder.appName('Practice').getOrCreate()
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)
result = rdd.collect()
("RDD Contents:", result)

Out[1]: ('RDD Contents:', [('Java', 20000), ('Python', 100000), ('Scala', 3000)])

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000),(2, "Rose",1 , "2010", "20","M", 4000),(3,"Williams",1,"2010","10","M",1000),(4, "Jones",2 ,"2005","10","F",2000),(5,"Brown",2,"2010","40","",-1),(6, "Brown", 2, "2010","50","",-1)]
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]
empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show()
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
#INNER JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") .show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#OUTER JOIN 
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer").show()
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"full").show()
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#LEFT JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#RIGHT JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"rightouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#LEFT SEMI JOIN 
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
#LEFT ANTI JOIN 
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg
# Create a SparkSession
spark = SparkSession.builder \
    .appName("DataFrame Operations Example") \
    .getOrCreate()
# Create DataFrame
data = [("sharath", "Engineering", 30, 75000),
        ("srujan", "Marketing", 28, 60000),
        ("tejas", "Engineering", 35, 80000),
        ("sumedha", "Finance", 32, 70000),
        ("yogesh", "Marketing", 33, 72000)]
columns = ["Name", "Department", "Age", "Salary"]
df = spark.createDataFrame(data, columns)
# Manipulating data: Adding a new column
df = df.withColumn("New_Salary", col("Salary") * 1.1)
# Dropping a column
df = df.drop("Salary")
# Sorting by Age
df = df.orderBy("Age")
# Aggregations
avg_salary = df.select(avg("New_Salary")).first()[0]
# GroupBy
grouped_data = df.groupBy("Department").agg(avg("New_Salary"))
# Displaying results
print("Manipulated DataFrame:")
df.show()
print("\nAverage Salary:", avg_salary)
print("\nGrouped Data:")
grouped_data.show()

Manipulated DataFrame:
+-------+-----------+---+----------+
|   Name| Department|Age|New_Salary|
+-------+-----------+---+----------+
| srujan|  Marketing| 28|   66000.0|
|sharath|Engineering| 30|   82500.0|
|sumedha|    Finance| 32|   77000.0|
| yogesh|  Marketing| 33|   79200.0|
|  tejas|Engineering| 35|   88000.0|
+-------+-----------+---+----------+


Average Salary: 78540.0

Grouped Data:
+-----------+---------------+
| Department|avg(New_Salary)|
+-----------+---------------+
|Engineering|        85250.0|
|    Finance|        77000.0|
|  Marketing|        72600.0|
+-----------+---------------+

In [0]:
#SELECTING RENAMING FILTERING DATA'S IN PANDAS
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark - example join').getOrCreate()
data = [(('sharath'), '2002-04-01', 'M', 3000),
        (('srujan'), '2001-05-19', 'M', 4000),
        (('tejas'), '2002-09-05', 'M', 4000),
        (('sumedha'), '2001-12-01', 'M', 4000),
        (('yogesh'), '2000-02-17', 'M', 1200)]
columns = ["Name", "DOB", "Gender", "salary"]
# Create the spark dataframe
df = spark.createDataFrame(data=data, schema=columns)
df.show()

+-------+----------+------+------+
|   Name|       DOB|Gender|salary|
+-------+----------+------+------+
|sharath|2002-04-01|     M|  3000|
| srujan|2001-05-19|     M|  4000|
|  tejas|2002-09-05|     M|  4000|
|sumedha|2001-12-01|     M|  4000|
| yogesh|2000-02-17|     M|  1200|
+-------+----------+------+------+

In [0]:
df.withColumnRenamed("DOB","DateOfBirth").show()

+-------+-----------+------+------+
|   Name|DateOfBirth|Gender|salary|
+-------+-----------+------+------+
|sharath| 2002-04-01|     M|  3000|
| srujan| 2001-05-19|     M|  4000|
|  tejas| 2002-09-05|     M|  4000|
|sumedha| 2001-12-01|     M|  4000|
| yogesh| 2000-02-17|     M|  1200|
+-------+-----------+------+------+

In [0]:
#RENAME MULTIPLE COLUMNS
df.withColumnRenamed("Gender","Sex").withColumnRenamed("salary","Amount").show()

+-------+----------+---+------+
|   Name|       DOB|Sex|Amount|
+-------+----------+---+------+
|sharath|2002-04-01|  M|  3000|
| srujan|2001-05-19|  M|  4000|
|  tejas|2002-09-05|  M|  4000|
|sumedha|2001-12-01|  M|  4000|
| yogesh|2000-02-17|  M|  1200|
+-------+----------+---+------+

In [0]:
#using expr
data = df.selectExpr("Name as name","DOB","Gender","salary")
data.show()

+-------+----------+------+------+
|   name|       DOB|Gender|salary|
+-------+----------+------+------+
|sharath|2002-04-01|     M|  3000|
| srujan|2001-05-19|     M|  4000|
|  tejas|2002-09-05|     M|  4000|
|sumedha|2001-12-01|     M|  4000|
| yogesh|2000-02-17|     M|  1200|
+-------+----------+------+------+

In [0]:
#USING SELECT METHOD
from pyspark.sql.functions import col
 
# Select the 'salary' as 'Amount' using aliasing
# Select remaining with their original name
data = df.select(col("Name"),col("DOB"),
                 col("Gender"),
                 col("salary").alias('Amount'))

data.show()

+-------+----------+------+------+
|   Name|       DOB|Gender|Amount|
+-------+----------+------+------+
|sharath|2002-04-01|     M|  3000|
| srujan|2001-05-19|     M|  4000|
|  tejas|2002-09-05|     M|  4000|
|sumedha|2001-12-01|     M|  4000|
| yogesh|2000-02-17|     M|  1200|
+-------+----------+------+------+

In [0]:
#USING DF
Data_list = ["Emp Name","Date of Birth",
             " Gender-m/f","Paid salary"]
 
new_df = df.toDF(*Data_list)
new_df.show()

+--------+-------------+-----------+-----------+
|Emp Name|Date of Birth| Gender-m/f|Paid salary|
+--------+-------------+-----------+-----------+
| sharath|   2002-04-01|          M|       3000|
|  srujan|   2001-05-19|          M|       4000|
|   tejas|   2002-09-05|          M|       4000|
| sumedha|   2001-12-01|          M|       4000|
|  yogesh|   2000-02-17|          M|       1200|
+--------+-------------+-----------+-----------+